/*--Responsive tablette--*/
@media screen and (min-width:768px) and (max-width:992px){
body{
    margin: 0;
    padding: 0;
}
/*--Lien hébergement dans le Header--*/
#hebergements{
    color: black;
}
/*--liste de filtres de la section 3--*/
.li_filtres{
    margin: auto 15px auto auto;
}

/*--Section flex, comprenant section 6 et Aside--*/
#section_flex{
    flex-direction: column;
}

/*--Section 5, comprenant H2 Les hébergements, les 6 cards et Afficher plus--*/
#section_5{
    height: 626px;
}
h2{
    margin-left: 12px ;
}
/*--Section 6, comprenant les 6 cards Hébergements--*/
#section_6{
    row-gap: 20px;
    column-gap: 20px;    
}

.card{
    width: 30%;
    }
.img_heberg{
    width: 95%;
}

/*--Aside, comprenant H2 Les plus Populaires, logo et les 3 cards--*/
aside{
    margin-top: 53px ;
    height: 278px;
}
#h2_pop{
    margin-left: 28px;
}
#logo_chart{
    margin-left: 63%;
}

/*--Section 7, les 3 cards--*/
#section_7{
    flex-direction: row;   
}
.card_aside{
    width: 29%;
    height: 134px;
    margin: 0 0 5px 25px;
    display: flex;     
}
.img_pop{
    width: 82px;
    height: 124px;
}
h4{
    font-size: 14px;
    margin-left: 5px;
    margin-top: 12px;
    width: 111px ;    
}
.prix_pop{
   font-size: 13px;
   margin-left: 5px;   
}
#stars_sdm{
    margin: 27px auto auto 5px;
}
#stars_cde{
    margin: -5px 0 0 7px;
}
#stars_bb{ 
    margin: 27px auto auto 7px;
}

/*--Article 3, comprenant H5 Activités à Marseille et les 4 cards--*/
#article_3{
    height: auto;
}

/*--Section 8, les 4 cards Activités à Marseille--*/
#section_8{
    height: 331px;
    column-gap: 33px;   
}
.card_activity{
   height: 267px;
   width: 19%; 
}
.img_act{
    height: 79%;      
}
.span_activity{
    display: flex;    
}
.p_act{
    margin: 6px 6px auto 10px;      
}

/*--Footer--*/
footer{
    margin-top: 0px;
    padding-left: 62px;
    column-gap: 40px;
}
.footer_nav{
    margin-left: 0;       
}

}