/*--Largeur de la page destop--*/
body{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 3rem;
    font-family: 'Raleway';
}


/*--Header--*/
header{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(255, 255, 255);
}

/*--Div logo booki--*/
#logo_booki{
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
    margin-left: 55px;  
    border: 1px solid rgb(248, 248, 248);  
}

/*--Nav Header--*/
#nav_header{
    border: 1px dotted rgb(255, 255, 255);
    height: 70px;
}

#ul_nav{
    
    display: flex;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 0px; 
    height: 70px ;
    
         
}    


/*--Liste de la barre de navigation--*/
a{
    text-decoration: none;
}

#li_heb{
    width:162px;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-right: -7px;
        
}

#li_heb:hover{
    border-top: 2px solid #0065fc;    
}

#hebergements{
    margin-top: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0065FC;
}

#li_act{
    width:162px;
    justify-content: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    margin-right: 27px;
}

#li_act:hover{
    border-top: 2px solid #0065fc;
}

#activites{
    margin-top: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

/*--Article avec H1, barre de recherche, liens et informations--*/

/*--Section 1, H1 et texte--*/
#section_1{
    border: 1px solid green;
}

/*--Section 2, logo position et bouton de recherche--*/
#section_2{
    display: flex;
    border: 1px solid red;
}

/*--Section 3, Filtres et liens--*/
#section_3{
    display: flex;
}

/*--Nav Section 3--*/
#filtres{
    background-color: yellow;
}
#nav_section_3{
    border: 1px solid rgb(4, 255, 242);
    
}
#ul_filtres{
    display: flex;
    list-style-type: none;

}

#section_4{
    display: flex;
}







/*--Responsive Tablette--*/
@media screen and (min-width: 769px) and (max-width: 992px ) {
    header{
        background-color: #FFFFFF;
    }
    
}

/*--Responsive Mobile--*/
@media screen and (max-width: 768px){
    header{
    flex-direction: column;
    background: #FFFFFF;         
    }

    #logo_booki{
        display: block;
        margin-left: auto;
        margin-right: auto;               
    }

    #nav_header{
        width: 100%;
        margin-left: auto;
        margin-right: auto; 
    }

    #ul_nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    

   
}